<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="weather.widget"
    android:versionCode="3"
    android:versionName="3.2" >

    <uses-sdk android:minSdkVersion="8" 
        android:targetSdkVersion="16"/> <!-- necessary for Plot -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />  

    <application
        android:icon="@drawable/logo"
        android:allowBackup="false"
        android:label="@string/app_name"> 
        <receiver 
            android:name="WeatherWidgetActivity">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data 
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_info"/>
            </receiver>
            <service android:name=".utils.UpdateWidgetService"/> 
            
        <activity
            android:name="weather.widget.settings.Settingsmenu"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
        </activity>
        
        <activity 
            android:name="weather.widget.graph.WeatherGraphView"
            android:label="@string/app_name">
        </activity>
    </application>
    

</manifest>
